<h1>Welcome to Plant.Spy!</h1>

<h3>A place for aspiring and professional botanists to track the progress of invasive species.</h3>

<h4>Please <%= link_to "Login", login_path %> or <%= link_to "Sign Up", signup_path %> to add to our community. </h4>