
    <span>
    <%= @post.invasive_species.common_name %><br><br>
    <%= @post.description %><br>
    <%= @post.location_latitude %>
    <%= @post.location_longitude %>
    <%# insert photo here  %>
    </span><br><br>
